<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add initializeData="C:\Users\dranger003\Documents\Visual Studio 2012\Projects\ConsoleApplication8\Client\app_tracelog.svclog"
                        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
-->    
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior0">
                    <clientCredentials>
                        <clientCertificate findValue="FORMATIQUE Service 1" storeLocation="CurrentUser"
                            x509FindType="FindBySubjectName" />
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0">
                    <readerQuotas maxArrayLength="16777216" />
                    <security>
                        <transport clientCredentialType="Certificate" />
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12346/Service" behaviorConfiguration="NewBehavior0"
                binding="netTcpBinding" bindingConfiguration="NewBinding0"
                contract="ServiceReference1.IService" name="" kind="" endpointConfiguration="">
                <identity>
                    <dns value="FORMATIQUE Service 1" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
