<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add initializeData="C:\Users\dranger003\Documents\Visual Studio 2012\Projects\ConsoleApplication8\ConsoleApplication8\App_tracelog.svclog"
                        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                        name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
-->
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0" maxReceivedMessageSize="67108864">
                    <readerQuotas maxArrayLength="16777216" />
                    <security>
                        <transport clientCredentialType="Certificate" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="ClassLibrary1.Service">
                <endpoint address="net.tcp://localhost:12346/Service" binding="netTcpBinding"
                    bindingConfiguration="NewBinding0" contract="ClassLibrary1.IService"
                    listenUriMode="Explicit">
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:12345/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceCredentials>
                        <serviceCertificate storeLocation="CurrentUser" findValue="FORMATIQUE Service 1" x509FindType="FindBySubjectName" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>